* {
    box-sizing: border-box
}
body {
    background: #777;
    color: #777;
    width: 960px;
    font-size: 18px;
    position: relative;
}
#Header {
    background: #ebebeb;
    margin: 10px;
    border: 10px;
    padding: 10px;
    text-align: center;
}

#Nav {
    background: #ebebeb;
    text-align: center;
    margin: 10px;
    border: 10px 10px 20px 10px;
    padding: 20px;
}

#Section {
    background: #ebebeb;
    color: #777;
    position: relative;
    text-align: center;
    width: 50%;
    border: 20px;
    margin: 20px;
    height: 200px;

}
#Article {
    color: #ebebeb;
    background: #777;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
#TheHs {
    color: #777;
    background: #ebebeb;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    
}
#SectionP {
    Color: #777;
    background: #ebebeb;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#Aside {
    background: #ebebeb;
    text-align: center;
    width: 45%;
    float: right;
    height: 200px;
    border: 20px;
    margin: 10px;
    position: relative;
}

#Footer {
    background: #ebebeb;
    text-align: center;
    bottom: 0;
}